@import "hover.less";

/**
 * mixins
 */

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}


.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.vslides-hotspot {
    transition: all .3s ease-in-out;
    .keyframes(pulse; {
    0% {transform:scale(1)}
    100% {transform:scale(1.05)}
    });

    .animation(pulse 1.5s ease-in-out infinite alternate)

}

.vslides-hotspot:hover {
    //.animation(pulse 1.5s ease-in-out 1)
    .animation(none);
    transform: scale(1.1);
}

@z-index: 9999;

#vslides-dialogue {

    position: absolute;
    padding: 50px 80px;
    min-height:200px;
    background: white;
    width: 800px;
    max-width: 95%;

    z-index: @z-index + 2;

    .border-radius(10px);

    .vslides-header {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;

        .vslides-close-button {
            display: block;
            cursor: pointer;
            padding: 10px;
            text-decoration: none;
        }
    }

    @nav-height: 218px/3;
    @nav-width: 152px/3;
    @nav-padding: 20px;
    .vslides-nav {

        cursor: pointer;
        height: @nav-height;
        position: absolute;
        display: block;
        left: @nav-padding;
        top: 50%;
        width: @nav-width;
        height: @nav-height;
        margin-top: @nav-height/-2;
        background-image: url('../images/left-arrow.gif');
        overflow: hidden;
        text-indent: -200em;
        background-size: contain;
    }

    .vslides-nav.vslides-next {
        left: auto;
        right: @nav-padding;
        background-image: url('../images/right-arrow.gif');
    }

}

#vslides-underlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: @z-index + 1;

}

.transition(@duration: 0.5s) {
    -webkit-transition: all @duration ease-in-out;
    -moz-transition: all @duration ease-in-out;
    -ms-transition: all @duration ease-in-out;
    -o-transition: all @duration ease-in-out;
    transition: all @duration ease-in-out;
}

#tour-body {
    .transition(@duration: 1s);
    -webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0s;

}

/**
 * When showing
 */
.vslides-showing {
    #tour-body {
        -webkit-transition-delay: 0s; /* Safari */
        transition-delay: 0s;
        @scale: 0.95;
        -moz-transform: scale(@scale) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(@scale) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(@scale) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(@scale) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(@scale) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    }
}

*.vslides-highlighted,
*.vslides-highlighted:hover {
    -moz-transform: scale(1.4) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1.4) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1.4) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1.4) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1.4) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    background-color: white;
    z-index: @z-index;
    transition-duration: 1s;
}

div.vslides-hotspot {
    cursor: pointer;
    display: block;
}




.vslides-pager {

    left:10px;
    bottom:10px;
    right:10px;
    text-align: center;
    position: absolute;

    .vslides-pager-dot {
        border:1px solid #ccc;
        border-radius: 50%;
        width:10px;
        height:10px;
        display: inline-block;
        margin:5px;
        cursor: pointer;
    }

    .vslides-pager-dot-selected {
        background-color: #ccc;
    }
}
